body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgba(27, 0, 53, 0.637);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(32, 32, 32, 0.671);
    height: 10vh;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 10;
}

footer {
    background-color: rgba(32, 32, 32, 0.699);
    height: 10vh;
}

.logo {
    position: fixed;
    left: 0;
    top: 0;
}
.logo-image {
    width: 11vh;
}

.header-text {
    display: flex;
}

.blank {
    display: flex;
    flex: 2.5;
}

.header-text-inner {
    padding: 1vh;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

p {
    font-size: 2.5vh;
    color: white;
}

.title-p {
    width: 40vh;
}

.title-h1 {
    width: 40vh;
}

.container-one {
    display: flex;
    justify-content: space-around;
}

.main-image {
    margin-top: 10vh;
    z-index: 1;
}

.man-image {
    height: 70vh;
    filter: drop-shadow(5px 10px 20px rgba(32, 0, 23, 0.781));
}

.footer-div {
    display: flex;
    justify-content: center;
}

pre {
    color: rgba(245, 222, 179, 0.767);
    font-size: 1.5vh;
}