body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgba(0, 35, 53, 0.637);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(32, 32, 32, 0.671);
    box-shadow: 0 0 10px rgba(187, 187, 187, 0.637);
    height: 10vh;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 10;
}

footer {
    background-color: rgba(32, 32, 32, 0.699);
    box-shadow: 0 0 10px rgba(187, 187, 187, 0.637);
    height: 10vh;
}

.logo {
    position: fixed;
    left: 0;
    top: 0;
}
.logo-image {
    width: 10vh;
}

.header-text {
    display: flex;
}

.blank {
    display: flex;
    flex: 2.5;
}

.header-text-inner {
    padding: 1vh;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

p {
    padding: 1vh;
    font-size: 2.7vh;
    color: white;
}

.title-p {
    width: 40vh;
}

.title-h1 {
    display: flex;
    justify-content: center;
    width: 40vh;
}

.container-one {
    box-shadow: inset 0 0 10vh rgba(0, 20, 31, 0.637);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.main-image {
    animation: squareMove 4s linear infinite;
    margin-top: 10vh;
    z-index: 1;
}

@keyframes squareMove {
  0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(30vh, 0); /* right */
    }
    50% {
        transform: translate(30vh, 30vh); /* down */
    }
    75% {
        transform: translate(0, 30vh); /* left */
    }
    100% {
        transform: translate(0, 0); /* up */
    }  
}

.man-image {
    height: 30vh;
}

.footer-div {
    display: flex;
    justify-content: center;
}

pre {
    color: rgba(245, 222, 179, 0.767);
    font-size: 1.5vh;
}